
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 6%;
    /* chnge above padding to give animated effect */
    transition: all 0.50s ease;
}

.logo {
    width: 95px;
    height: 70px;
    padding-left: 150px;
}


.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .profile-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .name-rating {
    display: flex;
    flex-direction: column; /* Stack name and rating vertically */
  }
  
  .name-rating p {
    margin: 2px 0;
    font-size: 14px;
    color: #fff;
  }
.profile:hover{
    background-color: #68686859;
}